<div class="container">
    <h3>
        Home Query Results
    </h3>

    <mat-list>
        <h3>Temperatures | Rainfall</h3>
        <mat-list-item>
            <p matLine> {{ selectedStation.id }} {{ selectedStation.name }} </p>
            <p matLine> Rainfall: {{ rainfallFormattedReading.outputString }} </p>
            <p matLine> Temperature: {{ tempFormattedReading.outputString }} </p>
            <p matLine> Humidity: {{ humidityFormattedReading.outputString }} </p>

        </mat-list-item>
    </mat-list> 
</div>